appname = demo
httpport = 8080
runmode = dev
copyrequestbody = true
EnableDocs = true
sqlConn =
md5Code = exampleexampleexampleexample

[dev]
defaultdb = example:example@(example:3309)/go-porn?charset=utf8

[prod]
defaultdb = example:example@(example:3309)/go-porn?charset=utf8
